.elementor-5751
  .elementor-element.elementor-element-64d0f6f
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5751 .elementor-element.elementor-element-64d0f6f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 5px 0px 0px 0px;
}
.elementor-5751
  .elementor-element.elementor-element-64d0f6f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5751 .elementor-element.elementor-element-64d0f6f.reveal-sticky {
  background-color: #ffffff;
  box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.elementor-bc-flex-widget
  .elementor-5751
  .elementor-element.elementor-element-0bdaca4.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5751
  .elementor-element.elementor-element-0bdaca4.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5751 .elementor-element.elementor-element-52ff873 .navbar {
  justify-content: flex-end;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .fugu-main-menu-wrap
  .fugu-header-buttons {
  justify-content: flex-end;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > li
  > a,
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  svg {
  width: 29px;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .navbar-toggler.close-menu
  .navbar-toggler-icon
  svg {
  width: 29px;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  i {
  font-size: 29px;
}
.elementor-5751
  .elementor-element.elementor-element-52ff873
  .navbar-toggler.open-menu
  .navbar-toggler-icon {
  margin-right: 25px;
}
.elementor-bc-flex-widget
  .elementor-5751
  .elementor-element.elementor-element-5184067.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5751
  .elementor-element.elementor-element-5184067.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5751
  .elementor-element.elementor-element-5184067.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-5751
  .elementor-element.elementor-element-53ddf2a
  .fugu-button-wraper {
  text-align: right;
}
.elementor-5751 .elementor-element.elementor-element-53ddf2a .fugu-btn {
  padding: 10.5px 30px 10.5px 30px;
}
@media (max-width: 1024px) {
  .elementor-bc-flex-widget
    .elementor-5751
    .elementor-element.elementor-element-397d498.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-5751
    .elementor-element.elementor-element-397d498.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-5751
    .elementor-element.elementor-element-53ddf2a
    .fugu-button-wraper {
    text-align: right;
  }
}
@media (min-width: 768px) {
  .elementor-5751 .elementor-element.elementor-element-0bdaca4 {
    width: 17.196%;
  }
  .elementor-5751 .elementor-element.elementor-element-397d498 {
    width: 63.77%;
  }
  .elementor-5751 .elementor-element.elementor-element-5184067 {
    width: 18.698%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5751 .elementor-element.elementor-element-0bdaca4 {
    width: 18%;
  }
  .elementor-5751 .elementor-element.elementor-element-397d498 {
    width: 54%;
  }
  .elementor-5751 .elementor-element.elementor-element-5184067 {
    width: 28%;
  }
}
@media (max-width: 767px) {
  .elementor-5751 .elementor-element.elementor-element-0bdaca4 {
    width: 50%;
  }
  .elementor-5751 .elementor-element.elementor-element-397d498 {
    width: 50%;
  }
  .elementor-5751
    .elementor-element.elementor-element-52ff873
    > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
  }
  .elementor-5751
    .elementor-element.elementor-element-52ff873
    .navbar-toggler.open-menu
    .navbar-toggler-icon {
    margin-right: 0px;
  }
}
