.elementor-670 .elementor-element.elementor-element-02625d9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-670
  .elementor-element.elementor-element-02625d9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-670 .elementor-element.elementor-element-02625d9.reveal-sticky {
  background-color: #ffffff;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1);
}
.elementor-bc-flex-widget
  .elementor-670
  .elementor-element.elementor-element-d01e3b0.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-670
  .elementor-element.elementor-element-d01e3b0.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-670 .elementor-element.elementor-element-ad825ea {
  width: auto;
  max-width: auto;
}
.elementor-670
  .elementor-element.elementor-element-ad825ea
  > .elementor-widget-container {
  margin: 0px 10px 0px 0px;
}
.elementor-670 .elementor-element.elementor-element-ad825ea img {
  width: 60px;
  border-radius: 999px 999px 999px 999px;
}
.elementor-670 .elementor-element.elementor-element-95071bb {
  width: auto;
  max-width: auto;
}
.elementor-670
  .elementor-element.elementor-element-95071bb
  > .elementor-widget-container {
  margin: 0px 0px -17px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-670
  .elementor-element.elementor-element-95071bb
  .elementor-heading-title {
  color: #141414;
  font-family: "Public Sans", Sans-serif;
  font-size: 29px;
  font-weight: 700;
}
.elementor-bc-flex-widget
  .elementor-670
  .elementor-element.elementor-element-044f1a1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-670
  .elementor-element.elementor-element-044f1a1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-670
  .elementor-element.elementor-element-044f1a1.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-670
  .elementor-element.elementor-element-044f1a1
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  > .elementor-widget-container {
  margin: 0px 0px 0px -500px;
}
.elementor-670 .elementor-element.elementor-element-3fe921c .navbar {
  justify-content: start;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .fugu-main-menu-wrap
  .fugu-header-buttons {
  justify-content: flex-end;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > li
  > a,
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
body:not(.rtl)
  .elementor-670
  .elementor-element.elementor-element-3fe921c
  .menu-style-inline
  .main-navigation
  ul.navbar-nav
  > li
  > a {
  margin-left: 0px;
  margin-right: 0px;
}
body.rtl
  .elementor-670
  .elementor-element.elementor-element-3fe921c
  .menu-style-inline
  .main-navigation
  ul.navbar-nav
  > li
  > a {
  margin-right: 0px;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  svg {
  width: 29px;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .navbar-toggler.close-menu
  .navbar-toggler-icon
  svg {
  width: 29px;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  i {
  font-size: 29px;
}
.elementor-670
  .elementor-element.elementor-element-3fe921c
  .navbar-toggler.open-menu
  .navbar-toggler-icon {
  margin-right: 25px;
}
.elementor-bc-flex-widget
  .elementor-670
  .elementor-element.elementor-element-2f0e322.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-670
  .elementor-element.elementor-element-2f0e322.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-670
  .elementor-element.elementor-element-2f0e322.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-670 .elementor-element.elementor-element-14f9a26 {
  text-align: right;
}
.elementor-670
  .elementor-element.elementor-element-14f9a26
  .mas-addons-btn-wrapper
  .btn-icon {
  border-radius: 50px 50px 50px 50px;
}
.elementor-670 .elementor-element.elementor-element-14f9a26 .mas-addons-btn {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--e-global-color-accent);
  border-radius: 3px 3px 3px 3px;
  padding: 10px 30px 10px 30px;
}
body.rtl
  .elementor-670
  .elementor-element.elementor-element-14f9a26
  .mas-addons-btn {
  border-radius: 3px 3px 3px 3px;
  padding: 10px 30px 10px 30px;
}
.elementor-670
  .elementor-element.elementor-element-14f9a26
  .mas-addons-btn:hover {
  color: #ffffff;
  box-shadow: 5px 5px 0px 0px #13111a;
}
@media (max-width: 1024px) {
  .elementor-bc-flex-widget
    .elementor-670
    .elementor-element.elementor-element-044f1a1.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-670
    .elementor-element.elementor-element-044f1a1.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-670
    .elementor-element.elementor-element-044f1a1
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-670 .elementor-element.elementor-element-3fe921c .navbar {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .elementor-670 .elementor-element.elementor-element-d01e3b0 {
    width: 25%;
  }
  .elementor-670 .elementor-element.elementor-element-044f1a1 {
    width: 50%;
  }
  .elementor-670 .elementor-element.elementor-element-2f0e322 {
    width: 24.664%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-670 .elementor-element.elementor-element-d01e3b0 {
    width: 33%;
  }
  .elementor-670 .elementor-element.elementor-element-044f1a1 {
    width: 33%;
  }
  .elementor-670 .elementor-element.elementor-element-2f0e322 {
    width: 33%;
  }
}
@media (max-width: 767px) {
  .elementor-670 .elementor-element.elementor-element-d01e3b0 {
    width: 60%;
  }
  .elementor-670 .elementor-element.elementor-element-ad825ea img {
    width: 50px;
  }
  .elementor-670 .elementor-element.elementor-element-044f1a1 {
    width: 40%;
  }
  .elementor-670
    .elementor-element.elementor-element-3fe921c
    > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
  }
  .elementor-670 .elementor-element.elementor-element-3fe921c .navbar {
    justify-content: flex-end;
  }
  .elementor-670
    .elementor-element.elementor-element-3fe921c
    .navbar-toggler.open-menu
    .navbar-toggler-icon {
    margin-right: 0px;
  }
}
