.elementor-3005
  .elementor-element.elementor-element-447a82b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-3005 .elementor-element.elementor-element-447a82b {
  padding: 5px 0px 5px 0px;
  z-index: 999999;
}
.elementor-3005 .elementor-element.elementor-element-447a82b.reveal-sticky {
  background-color: #ffffff;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.1);
}
.elementor-3005
  .elementor-element.elementor-element-6d46bbc.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-3005 .elementor-element.elementor-element-363faeb .navbar {
  justify-content: left;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-main-menu-wrap
  .fugu-header-buttons {
  justify-content: flex-end;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  > li
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > li
  > a,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > .menu-item-has-children
  > a
  .dropdownToggle {
  color: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  .menu-item-has-children
  .sub-menu:not(.fugu-megamenu-builder-content-wrap)
  a:hover,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  .menu-item-has-children
  .sub-menu:not(.fugu-megamenu-builder-content-wrap)
  li.current-menu-item
  > a,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .menu-style-inline.navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  .sub-menu
  .menu-item-has-children
  > a:hover
  .dropdownToggle {
  color: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu
  .navbar-toggler-icon {
  color: #000000;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu
  svg,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  svg {
  fill: #000000;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  svg {
  width: 30px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.close-menu
  .navbar-toggler-icon
  svg {
  width: 30px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar-toggler.open-menu
  .navbar-toggler-icon
  i {
  font-size: 30px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .navbar:not(.active)
  .main-navigation
  ul.navbar-nav
  > li.fugu-mega-menu
  > .sub-menu
  > li.megamenu-heading
  > a {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: #dd1919;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  > li.fugu-mega-menu
  > .sub-menu
  > li {
  width: 98% !important;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  > li.fugu-mega-menu
  > .sub-menu {
  width: 98%;
  padding: 20px 0px 20px 0px !important;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .main-navigation
  ul.navbar-nav
  > li.fugu-megamenu-builder-parent
  > ul.fugu-megamenu-builder-content-wrap.sub-menu {
  width: 98%;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary
  span {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 24px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary {
  padding: 13px 33px 13px 33px;
  color: #13111a;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-1::before,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-2::before,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-3::before,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-4::before,
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-6::before {
  border-radius: 3px 3px 3px 3px;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-1 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-2 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-3 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-4 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-5 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-6 {
  background: #ffc947;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary:hover {
  color: #ffffff;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-1::before {
  background: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-2::before {
  background: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-3::before {
  background: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-4::before {
  background: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-5:hover {
  background: #13111a;
}
.elementor-3005
  .elementor-element.elementor-element-363faeb
  .fugu-dual-button-primary.effect-6::before {
  background: #13111a;
}
@media (max-width: 1024px) {
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3005 .elementor-element.elementor-element-363faeb .navbar {
    justify-content: flex-end;
  }
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    .navbar-toggler.open-menu
    .navbar-toggler-icon {
    margin-right: 11px;
  }
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    .fugu-dual-button-primary {
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-3005 .elementor-element.elementor-element-ac692fe {
    width: 20%;
  }
  .elementor-3005 .elementor-element.elementor-element-6d46bbc {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .elementor-3005 .elementor-element.elementor-element-ac692fe {
    width: 50%;
  }
  .elementor-3005 .elementor-element.elementor-element-6d46bbc {
    width: 50%;
  }
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    > .elementor-widget-container {
    margin: 0px 14px 0px 0px;
  }
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    .navbar-toggler.open-menu
    .navbar-toggler-icon {
    margin-right: 0px;
  }
  .elementor-3005
    .elementor-element.elementor-element-363faeb
    .fugu-dual-button-primary {
    width: 100%;
  }
} /* Start custom CSS for fugu-main-menu, class: .elementor-element-363faeb */
.menu-style-flyout.fugu-main-menu-wrap .navbar-inner .navbar-toggler-icon svg {
  width: 30px;
}

.admin-bar .menu-style-flyout .navbar-inner .navbar-toggler {
  padding-top: 40px;
} /* End custom CSS */
