.elementor-704
  .elementor-element.elementor-element-6a134ff:not(.elementor-motion-effects-element-type-background),
.elementor-704
  .elementor-element.elementor-element-6a134ff
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2022/07/footer-bg.png");
  background-position: center center;
  background-size: cover;
}
.elementor-704 .elementor-element.elementor-element-6a134ff {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-704
  .elementor-element.elementor-element-6a134ff
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-704 .elementor-element.elementor-element-6a49412 {
  padding: 95px 0px 95px 0px;
}
.elementor-704
  .elementor-element.elementor-element-39bf0b1
  > .elementor-element-populated {
  margin: 0% 24% 0% 24%;
  --e-column-margin-right: 24%;
  --e-column-margin-left: 24%;
}
.elementor-704
  .elementor-element.elementor-element-fb2f254
  > .elementor-widget-container {
  margin: 0px 0px 15px 0px;
}
.elementor-704 .elementor-element.elementor-element-fb2f254 {
  text-align: center;
}
.elementor-704
  .elementor-element.elementor-element-fb2f254
  .elementor-heading-title {
  color: #13111a;
  font-family: "Public Sans", Sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.14em;
}
.elementor-704 .elementor-element.elementor-element-6d3a2a3 {
  width: auto;
  max-width: auto;
  position: absolute;
  top: 0%;
  right: 0%;
}
.elementor-704 .elementor-element.elementor-element-877b81b {
  text-align: center;
}
.elementor-704
  .elementor-element.elementor-element-877b81b
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-704
  .elementor-element.elementor-element-877b81b
  .mas-addons-btn-wrapper
  .btn-icon {
  border-radius: 50px 50px 50px 50px;
}
.elementor-704 .elementor-element.elementor-element-877b81b .mas-addons-btn {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--e-global-color-accent);
  border-radius: 3px 3px 3px 3px;
  padding: 15px 39px 15px 39px;
}
body.rtl
  .elementor-704
  .elementor-element.elementor-element-877b81b
  .mas-addons-btn {
  border-radius: 3px 3px 3px 3px;
  padding: 15px 39px 15px 39px;
}
.elementor-704
  .elementor-element.elementor-element-877b81b
  .mas-addons-btn:hover {
  color: #ffffff;
  box-shadow: 5px 5px 0px 0px #13111a;
}
.elementor-704 .elementor-element.elementor-element-1372734 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #13111a;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 30px 0px;
}
.elementor-704
  .elementor-element.elementor-element-1372734
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-704
  .elementor-element.elementor-element-9a94ce2.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-9a94ce2.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-9a94ce2
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-704
  .elementor-element.elementor-element-18996dd
  > .elementor-widget-container {
  margin: 0px 0px -15px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-704
  .elementor-element.elementor-element-18996dd
  .elementor-heading-title {
  color: #000000;
  font-family: "Public Sans", Sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.elementor-bc-flex-widget
  .elementor-704
  .elementor-element.elementor-element-ee83a04.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-ee83a04.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-ee83a04
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(50px / 2);
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(50px / 2);
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(50px / 2);
  margin-left: calc(50px / 2);
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-50px / 2);
  margin-left: calc(-50px / 2);
}
body.rtl
  .elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-50px / 2);
}
body:not(.rtl)
  .elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-50px / 2);
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-704 .elementor-element.elementor-element-88d4106 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-item
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-text {
  color: #13111a;
  transition: color 0.3s;
}
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
}
.elementor-bc-flex-widget
  .elementor-704
  .elementor-element.elementor-element-699d6e1.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-699d6e1.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-699d6e1
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-704 .elementor-element.elementor-element-32e32fa {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 20px;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-widget-container {
  text-align: right;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon {
  background-color: var(--e-global-color-accent);
  --icon-padding: 0.6em;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon
  i {
  color: #ffffff;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon
  svg {
  fill: #ffffff;
}
.elementor-704 .elementor-element.elementor-element-32e32fa .elementor-icon {
  border-radius: 100% 100% 100% 100%;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon:hover {
  background-color: var(--e-global-color-133815a);
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon:hover
  i {
  color: #26242c;
}
.elementor-704
  .elementor-element.elementor-element-32e32fa
  .elementor-social-icon:hover
  svg {
  fill: #26242c;
}
.elementor-704
  .elementor-element.elementor-element-ba000e9
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-704 .elementor-element.elementor-element-ba000e9 {
  padding: 35px 0px 26px 0px;
}
.elementor-bc-flex-widget
  .elementor-704
  .elementor-element.elementor-element-ed224dd.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-ed224dd.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-ed224dd.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-704
  .elementor-element.elementor-element-ed224dd
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-704 .elementor-element.elementor-element-49c8e83 {
  text-align: center;
}
.elementor-704
  .elementor-element.elementor-element-49c8e83
  .elementor-heading-title {
  color: #13111a99;
  font-family: "GeneralSans-Variable", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
}
.elementor-704
  .elementor-element.elementor-element-9090395
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-704 .elementor-element.elementor-element-9090395 {
  padding: 0px 0px 26px 0px;
}
.elementor-bc-flex-widget
  .elementor-704
  .elementor-element.elementor-element-9901553.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-9901553.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-704
  .elementor-element.elementor-element-9901553.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-704
  .elementor-element.elementor-element-9901553
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-704 .elementor-element.elementor-element-c370079 {
  text-align: center;
}
.elementor-704
  .elementor-element.elementor-element-c370079
  .elementor-heading-title {
  color: #13111a99;
  font-family: "GeneralSans-Variable", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4em;
}
@media (max-width: 1024px) {
  .elementor-704 .elementor-element.elementor-element-6a49412 {
    padding: 60px 0px 50px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-39bf0b1
    > .elementor-element-populated {
    margin: 0% 10% 0% 10%;
    --e-column-margin-right: 10%;
    --e-column-margin-left: 10%;
  }
  .elementor-704
    .elementor-element.elementor-element-fb2f254
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-704 .elementor-element.elementor-element-877b81b {
    text-align: center;
  }
  .elementor-704
    .elementor-element.elementor-element-9a94ce2.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-704
    .elementor-element.elementor-element-9a94ce2
    > .elementor-element-populated {
    margin: 0px 0px 20px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-704 .elementor-element.elementor-element-18996dd {
    text-align: center;
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-699d6e1.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-704
    .elementor-element.elementor-element-32e32fa
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-704
    .elementor-element.elementor-element-32e32fa
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-704 .elementor-element.elementor-element-32e32fa {
    --icon-size: 18px;
  }
  .elementor-704
    .elementor-element.elementor-element-49c8e83
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-704 .elementor-element.elementor-element-49c8e83 {
    text-align: center;
  }
  .elementor-704
    .elementor-element.elementor-element-c370079
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-704 .elementor-element.elementor-element-c370079 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .elementor-704
    .elementor-element.elementor-element-92b1a53
    > .elementor-element-populated {
    padding: 10px 20px 10px 20px;
  }
  .elementor-704 .elementor-element.elementor-element-6a49412 {
    padding: 35px 0px 60px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-39bf0b1
    > .elementor-element-populated {
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
  }
  .elementor-704
    .elementor-element.elementor-element-fb2f254
    .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-704
    .elementor-element.elementor-element-6d3a2a3
    > .elementor-widget-container {
    margin: -10px -21px 0px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-877b81b
    > .elementor-widget-container {
    margin: 10px 0px 0px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-9a94ce2
    > .elementor-element-populated {
    margin: 0px 0px 30px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 10px 0px;
  }
  .elementor-704 .elementor-element.elementor-element-18996dd {
    text-align: center;
  }
  .elementor-704
    .elementor-element.elementor-element-ee83a04
    > .elementor-element-populated {
    padding: 0px 0px 30px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(20px / 2);
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(20px / 2);
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
  .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-20px / 2);
    margin-left: calc(-20px / 2);
  }
  body.rtl
    .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-20px / 2);
  }
  body:not(.rtl)
    .elementor-704
    .elementor-element.elementor-element-88d4106
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-20px / 2);
  }
  .elementor-704
    .elementor-element.elementor-element-699d6e1.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-704
    .elementor-element.elementor-element-699d6e1
    > .elementor-element-populated {
    padding: 0px 0px 20px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-32e32fa
    .elementor-widget-container {
    text-align: center;
  }
  .elementor-704 .elementor-element.elementor-element-32e32fa {
    --icon-size: 24px;
  }
  .elementor-704
    .elementor-element.elementor-element-49c8e83
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-c370079
    > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
  }
  .elementor-704
    .elementor-element.elementor-element-c370079
    .elementor-heading-title {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .elementor-704 .elementor-element.elementor-element-9a94ce2 {
    width: 25%;
  }
  .elementor-704 .elementor-element.elementor-element-ee83a04 {
    width: 50%;
  }
  .elementor-704 .elementor-element.elementor-element-699d6e1 {
    width: 24.666%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-704 .elementor-element.elementor-element-9a94ce2 {
    width: 100%;
  }
  .elementor-704 .elementor-element.elementor-element-ee83a04 {
    width: 100%;
  }
  .elementor-704 .elementor-element.elementor-element-699d6e1 {
    width: 100%;
  }
  .elementor-704 .elementor-element.elementor-element-ed224dd {
    width: 100%;
  }
  .elementor-704 .elementor-element.elementor-element-9901553 {
    width: 100%;
  }
} /* Start custom CSS for icon-list, class: .elementor-element-88d4106 */
.elementor-704
  .elementor-element.elementor-element-88d4106
  .elementor-icon-list-items.elementor-inline-items {
  display: flex;
  justify-content: center;
} /* End custom CSS */
